body {
	background-color: White;
	width: 100%;
	overflow-x: hidden;
	}

input, textarea {outline:none;}


ul li {
	list-style: none;
}
.menu li {
	display: inline-block;
}

img {
	width: 3.2em;
}

hr {
	opacity: 0.5;
	width: 100%;
}

button {
	outline: none;
}

.menu {
	width: 100%;
	margin-bottom: -1.2%;
}
.side_right {
	float: right;
	margin-right: 1.5%; 
	cursor: pointer;
}
.break {
	margin-left: -24px;
	padding-left: 4px;
	padding-top: 10px;
	padding-right: 50px;
	border: 1px solid Gray;
	border-radius: 8px;
	text-align: center;
	vertical-align: center;
}
.break > img {
	margin-bottom: 5px;
	vertical-align: middle;
}

.break > b > span {
	margin-left: 40px;
	color: Black;
	font-size: 1.7em;
	vertical-align: center;
}

.time {
	margin: 0 auto;
	margin-left: 29%;
	font-size: 1.8em;
}
.content {
	height: 90%;
	width: 100%;
}
.content > .left {
	float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.content > .left li {
	list-style: none;

}

.content > .left {
	border: 1px solid Gray;
	width: 30%;
}
.content > .left > ul > li {
	margin-left: -6%;
	padding-top: 5px;
	padding-bottom: 17px;
}

.content > .left > ul > li > div > button {
	width: 95%;
	height: 40px;
	color: black;
	font-size: 1.5em;
	background: white;
	border: 1px solid gray;
	border-radius: 7px;
	cursor: pointer;
}

.content > .left > ul > li > textarea {
	border-radius: 25px;
	width: 89%;
	padding-left: 20px;
	padding-top: 10px;
	resize:none;
}
.content > .left .commend {
	margin-top: 20px;
}

.content > .left > ul > li > .save {
	outline: none;
	cursor: pointer;
	float: right;
	margin-right: 8%;
	border: 1px solid Gray;
	width: 35%;
	height: 30px;
	border-radius: 4px;
	font-size: 1.25em;
	margin-top: -18px;
	cursor: pointer;
}

.right {
	border: 2px solid Gray;
	border-bottom: none;
	border-right: none;
	width: 58%;
	max-height: 90%;
	padding-left: 3%;
	overflow: auto;
	float: right; /* Выравнивание по правому краю  */ 
    margin: 14px 5% 7px 7px; /* Отступы вокруг картинки */

}

.area {
	overflow: auto;
	border: 2px solid rgba(0,0,0,0.06);
	border-right: none;
	border-left: none;
	height: 350px;
	margin-left: -5.2%;
	padding-left: 5%;
	margin-bottom: 10px;
}
.bottom_area > span {
	margin-left: -15px;
	display:inline-block;   
    position:relative;
}

.bottom_area > progress {
    position:absolute;
    left: 35%;
    top: 550px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    color:#fff;
}


.finished_call {
	float: right;
	background: Blue;
	color: White;
	border: 0px solid White;
	border-radius: 5px;
	width: 140px;
	height: 32px;
	margin-right: 4%;
	cursor: pointer;
}

.footer {
   margin-top: 530px;
   clear: both;
   width: 90%;
   min-width: 1000px;
}

.arrows {
	width: 34.2%;
	height: 60px;
	border: 1px solid Gray;
	border-radius: 14px;
	margin-top: 8%;
	margin-left: -3%;
}
.arrows > img {
	width: 4em;
	vertical-align: middle;
}
.arrows > span {
	vertical-align: sub;
	font-size: 2em;
	text-align: center;
	margin-left: 11%;
}

.i_left {
	margin-top: 5px;
	cursor: pointer;
}

.i_right {
	float: right;
	cursor: pointer;
}

.stop_call > div {
	width: 30%;
	border: 1px solid Gray;
	border-radius: 16px;
	position: relative;
}

.stop_call > img {
	position: absolute;
}
.stop_call > span {
	position: absolute;
}
.foot__fio{
	width: 300px;
	height: 50px;
	border: 2px solid #000;
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	cursor: pointer;

}
.fio{
	font-size: 25px;
	padding-top: 10px;
	
}
.foot__fio_a{
	width: 300px;
	cursor: pointer;
	background: red;
	display: flex;
	justify-content: space-around;
	border: 2px solid #000;
	border-radius: 10px;

}
.stop_call{
	font-size: 25px;
	padding-top: 20px;
}
.foot__fio_s{
	width: 300px;
	cursor: pointer;
	background: green;
	display: flex;
	justify-content: space-around;
	border: 2px solid #000;
	border-radius: 10px;

}
.start_call{
	font-size: 25px;
	padding-top: 20px;
}
.foot__con{
	display: flex;
	justify-content: space-around;
}